.header_container {
  display: flex;
  width: 100%;
  height: 70px;
  overflow: hidden;
  justify-content: center;
  position:absolute;//추가
  z-index:1;
}

.header_wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 450px;
  flex-direction: row;
  justify-content: space-between; /* 요소들 사이에 균등한 공간 배분 */
  padding: 0 30px; /* 좌우 여백 추가 */
  box-sizing: border-box; /* 패딩이 너비에 포함되도록 설정 */

  align-items: center;
}

.header_props {
  display: flex;
  width: auto;
  height: 100%;
  margin-left: -45px;
  margin-top: 3px;
  font-size: 16px;
  text-align: center;
  align-items: center;
}
