.creator-container {
  display: flex;
  width: 100%;
  height: 120px;
  padding: 10px 16px;
  align-items: center;
}

.creator-image {
  margin-right: 16px;
}

.creator-info {
  display: flex;
  flex-direction: column;
  width: 227px;
  height: 82px;
  gap: 10px;
}

.creator-name {
  font-size: large;
  font-weight: bold;
}
.creator-role {
  font-size: medium;
}

.creator-major {
  color: #acaaaf;
  font-size: small;
}
